* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #121212;
}

h1 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/* 
#Timeline {
    margin-top: 40px;
} */

#Timeline,
#Worldmap,
#Carac {
    height: 100vh;
    padding: 50px 10px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

svg {
    max-width: 100%;
}

#header {
    top: 0;   
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 100; 
    background-color: #1ED760;
}

#homeButton:hover {
    cursor: pointer;
}

.tick line{
    stroke: white;
}

.domain {
    stroke: white;
}

.tick text {
    fill: white;
    /* stroke: white; */
    font-family: "Helvetica Neue", sans-serif;
    font-size: "11px";
}
