* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #DDDDDD;
    background-color: #121212;
}

h1 {
    color: #DDDDDD;
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

#Home,
#Timeline,
#Worldmap,
#Carac {
    height: 100vh;
    padding: 50px 10px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Home,
#Carac {
    background-color: #222222;
}

#WorldmapDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#WorldmapSVG {
    display: flex;
    flex-direction: row;
    align-items: center;

}

svg {
    max-width: 100%;
}

#header {
    top: 0;   
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 100; 
    background-color: #1ED760;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

/*Header menu*/
#Menu {
    top: 0;
    height: 40px;
    padding: 0px 0px 10px 0px;
}

#Menu ul {
    margin: 0;
    height: 40px;
    padding-left: 60px;
}

#Menu li {
    padding-top: 10px;
    color: #DDDDDD;
}

#Menu li#homeButton{
    padding-top: 0px;
    color: #DDDDDD;
}

#icon {
    top: 0px;
    width: 40px;
    height: 40px;
}

#Menu li:hover {
    list-style: none;
    cursor: pointer;
    color: #121212; 
    border-bottom: 2px solid #121212;
    padding-bottom: 8px;
}

#Menu a {
    color: #DDDDDD;
}

#Menu li:hover a {
    color: #121212;
}

.tick line{
    stroke: #DDDDDD;
}

.domain {
    stroke: #DDDDDD;
}


/*Genre select*/
.openChoose {
    cursor: pointer;
}
#genreSelect {
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 40px 80px 40px 00px;
    color: #DDDDDD;
    transition-duration: 0.5s;
    transform: translateX(100%);
    z-index: 100;
}
#genreSelect ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    height: 100%;
}
#genreSelect li {
    list-style: none;
    cursor: pointer;
    transition: padding;
    padding-left: 40px;
}
#genreSelect li:hover {
    list-style: none;
    cursor: pointer;
    color: #1ed760;
    border-left: 5px solid #1ed760;
    padding-left: 35px;
}
#genreSelect .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#genreSelect.open {
    transform: translateX(0%);
}

#Menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
#Menu a {
    text-decoration: none;
}